<div class="widget {{widgetSize}} {{widgetSize}}">
    {{#if isThumb}}
      <div class="widget__img">
        <img src="{{imgpath}}" class="img-fluid" alt="dummy">
      </div>
    {{/if}}
    <div class="widget__content">
      <div>
        {{#if isCategory}}
          <h5 class="category {{categoryStyle}}"><span>{{categoryName}}</span></h5>
        {{/if}}
        <h4 class="widget__title">{{maintitle}}</h4>
        {{#if isContent}}
          <p>{{content}}</p>
        {{/if}}
      </div>
      <p class="widget__author">{{ authorname }}</p>
    </div>
</div>
